body {
  background-color: #ffffff;
  font-family: 'Assistant', sans-serif;
  color: #071C4D;
}

.row {
  padding: 10px 20px 10px;
}
.navbar-brand img {
  max-height: 40px;
}

.btn-navbar-right {
  margin-top: -10px !important;
  margin-bottom: -8px !important;
  margin-right: -18px !important;
  height: 70px;
  border-radius: 0px;
}

.navbar-light .navbar-nav .nav-link {
  color: #071C4D;
}

.navbar-light .navbar-nav .nav-link.active {
  font-weight: bold;
  color: #071C4D !important;
}

.btn-login {
  background-color: #071C4D;
  color: #fff;
}

.btn-login:hover {
  background-color: #1E3771;
  color: #fff;
}

header {
  padding: 180px 0 165px;
  margin-top: -70px;
  background-image: url("../images/header.jpg");
  background-size: cover;
}

header h1, header p {
  color: #fff;
}

header h1 {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 50px;
}

header p {
  font-size: 22px;
}

header .btn-get-started {
  background-color: #FF9E53;
  color: #fff;
}

header .btn-get-started:hover {
  background-color: #FFAA69;
  color: #fff;
}

.section-stats {
  margin-top: 20px;
  margin-bottom: -50px;
}

.section-stats .stats-detail {
  padding-top: 15px;
  background-color: #5398ff;
  padding-left: 40px;
}

.section-stats h2 {
  font-size: 30px;
  margin-bottom: 0;
}

.section-stats p {
  font-size: 20px;
  font-weight: lighter;
}

.section-testimonial-heading {
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#F7F9FF));
  background: linear-gradient(rgb(206, 206, 206) 0%, #F7F9FF 100%);
  padding-top: 70px;
  margin-top: 120px;
  min-height: 506px;
}

.section-testimonial-heading h2 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 35px;
}

.section-testimonial-heading p {
  font-size: 18px;
}

.section-testimonial-content {
  margin-top: -300px;
  padding-bottom: 50px;
}

.section-testimonial-content .card-testimonial {
  padding: 40px 20px 10px;
  border-radius: 11px;
  margin-bottom: 20px;
}

.section-testimonial-content .card-testimonial .testimonial-content {
  min-height: 380px;
}

.section-testimonial-content .card-testimonial h3 {
  font-size: 18px;
}

.section-testimonial-content .card-testimonial .testimonial {
  font-weight: normal;
  font-size: 22px;
  color: #6e6e6e;
  min-height: 150px;
}

.section-testimonial-content .card-testimonial .trip-to {
  font-weight: normal;
  font-size: 22px;
  color: #6e6e6e;
}

.section-testimonial-content .card-testimonial hr {
  margin-left: -20px;
  margin-right: -20px;
}

.section-testimonial-content .btn-get-started {
  background-color: #FF9E53;
  color: #fff;
}

.section-testimonial-content .btn-get-started:hover {
  background-color: #FFAA69;
  color: #fff;
}

.section-testimonial-content .btn-need-help {
  background-color: #F2F2F2;
  color: #C3C3C3;
}

.section-testimonial-content .btn-need-help:hover {
  background-color: #FAFAFA;
  color: #C3C3C3;
}

.section-footer a {
  color: #071C4D;
}

.section-details-header {
  min-height: 310px;
  background: #E4E6EB;
  margin-top: -70px;
}

.section-details-content {
  margin-top: -210px;
  min-height: 100vh;
}

.section-details-content .breadcrumb {
  background-color: transparent;
  padding: 0px;
  margin-bottom: 30px;
}

.section-details-content .breadcrumb-item.active {
  font-weight: bold;
  color: #071C4D;
}

.section-details-content .card-details {
  padding: 30px;
  border-radius: 11px;
}

.section-details-content .card-details h1 {
  font-size: 26px;
}

.section-details-content .card-details h2 {
  font-size: 20px;
}

.section-details-content .card-details p {
  font-size: 18px;
  color: #B1B1B1;
}

.section-details-content .card-details h3 {
  font-weight: 600;
  font-size: 14px;
  color: #071C4D;
}

.section-details-content .card-details .trip-informations th {
  font-weight: 300;
  font-size: 18px;
  color: #071C4D;
}

.section-details-content .card-details .trip-informations td {
  font-weight: 300;
  font-size: 18px;
  color: #B1B1B1;
}

.section-details-content .card-details .trip-informations .text-blue {
  color: #071C4D;
  font-weight: bold;
}

.section-details-content .card-details .trip-informations .text-orange {
  color: #FF9E53;
  font-weight: bold;
}

.section-details-content .card-details .payment-instructions {
  font-weight: 300;
  font-size: 14px;
  color: #B1B1B1;
}

.section-details-content .card-details .bank .bank-item h3 {
  font-size: 18px;
  color: #071C4D;
  margin-bottom: 0;
}

.section-details-content .card-details .bank .bank-item p {
  margin-bottom: 0;
}

.section-details-content .card-details .bank .bank-item .description {
  margin-left: 10px;
  overflow: hidden;
  float: left;
}

.section-details-content .card-details .bank .bank-item .description p {
  font-weight: normal;
  font-size: 16px;
  color: #071C4D;
}

.section-details-content .card-details .bank .bank-image {
  width: 45px;
  height: 45px;
  float: left;
}

.section-details-content .card-details .disclaimer {
  font-weight: 300;
  font-size: 14px;
  color: #B1B1B1;
}

.section-details-content .card-details .gj-datepicker .datepicker {
  border-right: 0;
}

.section-details-content .card-details .gj-datepicker .input-group-append .btn {
  padding-right: 30px;
}

.section-details-content .btn-add-now {
  background-color: #071C4D;
  color: #fff;
}

.section-details-content .btn-add-now:hover {
  background-color: #1B3B86;
  color: #fff;
}

.section-details-content .card-right {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 0;
}

.section-details-content .features {
  margin-top: 20px;
}

.section-details-content .features h3 {
  font-size: 18px;
  color: #071C4D;
  margin-bottom: 0;
}

.section-details-content .features p {
  margin-bottom: 0;
}

.section-details-content .features .description {
  margin-left: 10px;
  overflow: hidden;
  float: left;
}

.section-details-content .features .features-image {
  width: 45px;
  height: 45px;
  float: left;
}

.section-details-content .gallery .xzoom-container {
  display: block;
}

.section-details-content .gallery .xzoom-container .xzoom {
  width: 100%;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-bottom: 10px;
}

.section-details-content .gallery .xzoom-container .xactive {
  border: 4px solid #1ABC9C;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.section-details-content .member .member-image {
  width: 40px;
  height: 40px;
}

.section-details-content .join-container {
  margin-top: -16px;
}

.section-details-content .btn-join-now {
  background-color: #FF9E53;
  color: #fff;
  border-radius: 0;
}

.section-details-content .btn-join-now:hover {
  background-color: #FFB57C;
  color: #fff;
}

.section-success {
  height: 90vh;
}

.section-success h1 {
  font-weight: 600;
  font-size: 26px;
  color: #071C4D;
}

.section-success p {
  font-weight: 300;
  font-size: 18px;
  color: #B1B1B1;
}

.section-success .btn-homepage {
  border-radius: 4px;
  background-color: #071C4D;
  color: #fff;
}

.section-success .btn-homepage:hover {
  background-color: #2A488E;
  color: #fff;
}
/*# sourceMappingURL=main.css.map */
/* Card title
*******************/
.card {
  margin-bottom: 30px; }
  .card .card-subtitle {
    font-weight: 300;
    padding-left: 20px;
    margin-bottom: 15px;
    color: #99abb4; }
    .card .card-img {
      margin-top: 30px;}

.card-inverse .card-blockquote .blockquote-footer,
.card-inverse .card-link,
.card-inverse .card-subtitle,
.card-inverse .card-text {
  color: rgba(255, 255, 255, 0.65); }

.card-success {
  background: #26c6da;
  border-color: #26c6da; }

.card-danger {
  background: #fc4b6c;
  border-color: #fc4b6c; }

.card-warning {
  background: #ffb22b;
  border-color: #ffb22b; }

.card-info {
  margin: 10px 20px 10px; }

.card-primary {
  background: #7460ee;
  border-color: #7460ee; }

.card-dark {
  background: #2f3d4a;
  border-color: #2f3d4a; }

.card-megna {
  background: #00897b;
  border-color: #00897b; }

/*Material inputs*/
.form-material .form-group {
  overflow: hidden; }

.form-material .form-control {
  background-color: transparent;
  background-position: center bottom, center calc(100% - 1px);
  background-repeat: no-repeat;
  background-size: 0 2px, 100% 1px;
  padding: 0;
  -webkit-transition: background 0s ease-out 0s;
  -o-transition: background 0s ease-out 0s;
  transition: background 0s ease-out 0s; }

.form-material .form-control,
.form-material .form-control.focus,
.form-material .form-control:focus {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#009efb), to(#009efb)), -webkit-gradient(linear, left top, left bottom, from(#d9d9d9), to(#d9d9d9));
  background-image: -webkit-linear-gradient(#009efb, #009efb), -webkit-linear-gradient(#d9d9d9, #d9d9d9);
  background-image: -o-linear-gradient(#009efb, #009efb), -o-linear-gradient(#d9d9d9, #d9d9d9);
  background-image: linear-gradient(#009efb, #009efb), linear-gradient(#d9d9d9, #d9d9d9);
  border: 0 none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  float: none; }

.form-material .form-control.focus,
.form-material .form-control:focus {
  background-size: 100% 2px, 100% 1px;
  outline: 0 none;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s; }

.form-control-line .form-group {
  overflow: hidden; }

.form-control-line .form-control {
  border: 0px;
  border-radius: 0px;
  padding-left: 0px;
  border-bottom: 1px solid #d9d9d9; }
  .form-control-line .form-control:focus {
    border-bottom: 1px solid #009efb; }

   /* Thumb size
    *******************/
    
    .img-circle {
      border-radius: 100%; }
    
    .radius {
      border-radius: 4px; }

/*******************
Form-control
******************/
.form-control {
  color: #67757c;
  min-height: 38px;
  display: initial; }

.form-control-sm {
  min-height: 20px; }

.form-control:disabled, .form-control[readonly] {
  opacity: 0.7; }

.custom-control-input:focus ~ .custom-control-indicator {
  -webkit-box-shadow: none;
  box-shadow: none; }

.custom-control-input:checked ~ .custom-control-indicator {
  background-color: #26c6da; }

form label {
  font-weight: 400; }

.form-group {
  margin-top: 15px;
  margin-left: 10px;
  margin-bottom: 25px; }

.form-horizontal label {
  margin-bottom: 0px; }

.form-control-static {
  padding-top: 0px; }

.form-bordered .form-group {
  border-bottom: 1px solid rgba(120, 130, 140, 0.13);
  padding-bottom: 20px; }
